.AboutSection {
    margin: 100px 0 0 0;
}
.LeftBox {
    padding: 0 80px 0 0;
    background: rgba(155, 156, 197, 0.10);
    min-height: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.TitleWrapper {
    text-align: end;
    margin: 30px 0 0 0;
    max-width: 720px;
}

.TitleWave {
    color: #000;
    font-family: La Belle Aurore;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 720px;
}

.TitleIntro {
    color: #000;
    text-align: right;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 720px;
}

.Subtitle {
    color: #E69CA3;
    text-align: right;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 30px 0;
    max-width: 720px;
}

.ParagraphBold {
    color: #2D2E51;
    text-align: right;
    font-family: Aleo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 30px 0;
    width: 100%;
    max-width: 720px;
}

.GenericParagraph {
    color: #2D2E51;
    text-align: right;
    font-family: Aleo;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 30px 0;
    width: 100%;
    max-width: 720px;
}

.ImageWrapper {
    height: 519px;
    width: auto;
}

@media only screen and (max-width: 1199px) {
    .LeftBox {
        padding: 40px;
        align-items: center;
    }
    .ImageWrapper {
        display: none;
    }

    .TitleWrapper,
    .TitleIntro,
    .Subtitle,
    .ParagraphBold,
    .GenericParagraph  {
        text-align: start;
    }
}

@media only screen and (max-width: 600px) {

}