.TopMenuRightSide {
    display: flex;
    width: 45%;
    justify-content: space-around;
}

.TopMenuRightSide a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts span {
    color: #2D2E51;
    font-family: 'Aleo', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}