.MainTitle {
    color: #ff7640;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.MainSubtitle {
    color: #2D2E51;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}

.ContentMainTitle {
    color: #2D2E51;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px 0;
}

.ContentMainSubtitle {
    color: #2D2E51;
    text-align: center;
    font-family: 'Aleo', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 10px 0;
}

.Box {
    width: 570px;
    height: 475px;
}

.ContentWrapper {
    margin: 0 0 40px 0;
    justify-content: space-around;
}

.MainContentWrapperPink {
    padding: 30px;
    background: #f5f5f9;
}

.MainContentWrapperWhite {
    padding: 30px;
    background: #FFF;
}

.MainContentWrapperGrey {
    padding: 30px;
    background: #f5f5f9;
}

.DownloadsContentSectionCtaButton {
    height: 80px;
    flex-shrink: 0;
    background: #ff7640;
    color: #FFF;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0;
}

.MainImage {
    width: auto;
    height: 65%;
}

.SideImage {
    width: 100%;
    height: 100%;
}

.container {
    padding: 20px;
}

.paddingBox {
    padding: 0 0 0 40px;
}

.sectionWrapper {
    margin-top: 50px;
}

@media only screen and (max-width: 1199px) {


    .DownloadsContentSectionCtaButton {
        height: 60px;
    }
}

@media only screen and (max-width: 899px) {
    .Box {
        padding: 0;
        margin: 0 0 20px 0;
    }

    .ContentWrapper {
        margin: 0;
    }

    .MainImage {
        width: 80%;
        height: auto;
    }
    
}


@media only screen and (max-width: 600px) {
    .sectionWrapper {
        margin-top: 0px;
    }

    .MainTitle {
        text-align: start;
        line-height: 40px;
        margin: 60px 0 10px 0;
    }

    .MainSubtitle {
        text-align: start;
    }
    .Box {
        height: 350px;
        padding: 5px;
    }
    
}