.NewsletterGridElement {
    text-align: center;
}

.NewsletterImage {
    width: 100%;
    max-width: 479px;
    height: auto;
}

.titleWrapper {
    text-align: start;
}

.title {
    color: #000;
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 80px; /* 166.667% */
}

.title2 {
    color: #000;
    font-family: 'La Belle Aurore', cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

.subtitle {
    color: #E69CA3;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;
    margin: 0 0 40px 0;
}

.body {
    color: #2D2E51;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: start;
    margin: 0 0 40px 0;
}

.NewsletterCtaButton {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background: #2D2E51;
    color: #FFF;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sectionWrapper {
    margin-top: 50px;
}

@media only screen and (max-width: 1199px) {
    .NewsletterGridElement {
        padding: 20px;
    }

    .titleWrapper,
    .title,
    .title2,
    .subtitle, 
    .body {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .sectionWrapper {
        margin-top: 0px;
    }

    .NewsletterImage {
        width: 100%;
        height: auto;
    }
    .NewsletterGridElement {
        padding: 20px;
    }

    .titleWrapper,
    .title,
    .title2,
    .subtitle {
        text-align: start;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .body {
        text-align: start;
        line-height: 50px;
        margin-bottom: 10px;
    }

}