.SectionWrapper {
    padding: 100px 100px 200px 0;
}

.TitleWrapper {
    margin-bottom: 100px;
}

.Title {
    color: #FFF;
    text-align: right;
    font-family: 'Inknut Antiqua', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Subtitle {
    color: #FFF;
    text-align: right;
    font-family: 'La Belle Aurore', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
}

.Testimony {
    color: #FFF;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Author {
    color: #ff7640;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 0 0;
}

.OpinionWrapper {
    background: rgba(87, 98, 102, 1);
    padding: 30px;
    margin: 20px 0!important;
    max-width: 450px;
    min-width: 450px;

}

.sectionWrapper {
    margin-top: 50px;
}

@media only screen and (max-width: 1199px) {
    .SectionWrapper {
        padding: 10px;
    }
}

@media only screen and (max-width: 899px) {

}


@media only screen and (max-width: 600px) {

    .sectionWrapper {
        margin-top: 0px;
    }

    .OpinionWrapper {
        padding: 20px;
        margin: 10px 10px!important;
        max-width: 300px;
        min-width: 300px;
    }

    .TitleWrapper {
        margin-bottom: 0;
    }

    .Title {
        margin: 20px 0 0 0;
        line-height: 50px;
    }

    .Testimony {
        font-weight: 400;
        font-size: 16px;
    }

    .Author {
        font-weight: 400;
        font-size: 16px;  
    }
}