.SectionWrapper {
    background: gray;
    padding: 0 100px 0 100px;
    background-image: url('/statics/opinionsSectionImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
    color: #FFF;
    text-align: right;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Subtitle {
    color: #FFF;
    text-align: right;
    font-family: La Belle Aurore;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
}

.Testimony {
    color: #FFF;
    font-family: Aleo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Author {
    color: #E69CA3;
    font-family: Aleo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 0 0;
}

.OpinionWrapper {
    background: rgba(87, 98, 102, 0.80);
    padding: 30px;
    margin: 20px!important;
}

.sectionWrapper {
    margin-top: 50px;
}

@media only screen and (max-width: 1199px) {
    .SectionWrapper {
        padding: 20px;
    }
}

@media only screen and (max-width: 899px) {

}


@media only screen and (max-width: 600px) {

    .OpinionWrapper {
        padding: 10px;
        margin: 10px!important;
    }

    .Title,
    .Subtitle {
        display: none;
    }
}